@mixin respond($media) {
  @if $media == mobile {
    @media only screen and (max-width: 700px) {
      @content;
    }
  }
  @else if $media == tablets {
    @media only screen and (min-width: 700px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $media == desktop {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  @else if $media == alldevices {
    @media only screen and (max-width: 1024px) {
      @content;
    }
  }
  @else if $media == retina {
    @media (-webkit-min-device-pixel-ratio: 2) {
      @content;
    }
  }
}

@mixin borderbox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin resetkit {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin fontsmooth {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

@mixin disableselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
    font-weight: 300;
  }
  &:-moz-placeholder {
    color: $color;
    font-weight: 300;
  }
  &::-moz-placeholder {
    color: $color;
    font-weight: 300;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-weight: 300;
  }
}
